body{
    background-color: #101014;
}

            
/* Navbar */
#NavBar101{
    position: fixed;
    top: 0px;
    width: 100%;
}

.nav{
    padding-top: 10px;
    padding-bottom: 5px;
}

#Epic-Logo{
    margin-right: 25px;
    margin-left: 25px;
}

.navbar-logo img{
    border-radius: 50%;
    margin-right: 5px;
}

.navbar-brand{
    font-weight: bolder;
    margin-right: 20px;
}

.navbar-collapse{
    font-style: arial sans-serif;
    font-size: 16px;
    font-family: 400;
}

.navbar-collapse button{
    font-style: arial sans-serif;
    font-size: 16px;
    font-weight: 400;
}

/* NavBar-List */
/* NavBar-List Logo */
.nav #Epic-Logo:hover #Epic-list{
    display: block;
}

/* NavBar-List Overview */
.nav #Overview:hover #Overview-list{
    display: block;
}

/* NavBar-List Uses */
.nav #Uses:hover #Uses-list{
    display: block;
}

/* NavBar-List More */
.nav #More:hover #More-list{
    display: block;
}

/* Search */

.nav #search1 svg{
    color: white;
}

/* Globle */

.nav #globle1 svg{
    color: white;
}

.nav #globle2{
    position: relative;
}
  
.nav #globle1 .globle-icon{
    display: block;
}
  
.nav #globle1 #dropdown-list{
    display: none;
    position: absolute;
}
  
.nav #globle-icon:hover #globle-list{
    display: block;
}

/* Hero-Content */

.mymain video{
    border-radius: 25px;
    max-width: 100%;
}

.hero-txt{
    color: white;
}

.hero-txt h2{
    font-size: 50px;
    font-weight: 900;
    font-style: sans-serif;
}

.hero-txt p{
    font-size: 20px;
    font-style: sans-serif;
}

.hero-txt img{
    border-radius: 50%;
    margin-right: 5px;
}

.hero-txt h3{
    font-size: 28px;
    margin-bottom: 30px;
}

.hero-txt .h2-last{
    margin-bottom: 20px;
}

.hero-txt p{
    margin-bottom: 30px;
}


/* content-1 */

.content-1{
    color: white;
}

.content-1 h2{
    font-weight: bolder;
}
.content-1 h3{
    color: white;
}


/* content-2 */

.content-2 .C2-info{
    color: white;
}

.content-2 .C2-img img{
    border-radius: 25px;
    max-width: 100%;
}

/* content-3 */

.content-3{
    color: white;
}

/* IMAGE-CONTENT */

.content-3 img{
    border-radius: 25px;
    object-fit: fill;
    transition: transform 0.5s ease;
}

/* IMAGE-1 */
.content-3 .card-1{
    overflow: hidden;
    border-radius: 25px;
}
.content-3 .card-1:hover img{
    transform: scale(0.9);
}

/* IMAGE-1 TITLE-HOVER */
.content-3 .card-1 .img-title{
    position: relative;
    bottom: 50px;
    left: 25px;
}
.content-3 .card-1:hover h2{
    bottom: 70px;
}

/* IMAGE-2 */
.content-3 .card-2{
    overflow: hidden;
    border-radius: 25px;
}
.content-3 .card-2:hover img{
    transform: scale(0.9);
}

/* IMAGE-2 TITLE-HOVER */
.content-3 .card-2 .img-title{
    position: relative;
    bottom: 50px;
    left: 25px;
}
.content-3 .card-2:hover h2{
    bottom: 70px;
}

/* IMAGE-3 */
.content-3 .card-3{
    overflow: hidden;
    border-radius: 25px;
}
.content-3 .card-3:hover img{
    transform: scale(0.9);
}

/* IMAGE-3 TITLE-HOVER */
.content-3 .card-3 .img-title{
    position: relative;
    bottom: 50px;
    left: 25px;
}
.content-3 .card-3:hover h2{
    bottom: 70px;
}

/* IMAGE-4 */
.content-3 .card-4{
    overflow: hidden;
    border-radius: 25px;
}
.content-3 .card-4:hover img{
    transform: scale(0.9);
}

/* IMAGE-4 TITLE-HOVER */
.content-3 .card-4 .img-title{
    position: relative;
    bottom: 50px;
    left: 25px;
}
.content-3 .card-4:hover h2{
    bottom: 70px;
}

/* IMAGE-5 */
.content-3 .card-5{
    overflow: hidden;
    border-radius: 25px;
}
.content-3 .card-5:hover img{
    transform: scale(0.9);
}

/* IMAGE-5 TITLE-HOVER */
.content-3 .card-5 .img-title{
    position: relative;
    bottom: 50px;
    left: 25px;
}
.content-3 .card-5:hover h2{
    bottom: 70px;
}

/* IMAGE-6 */
.content-3 .card-6{
    overflow: hidden;
    border-radius: 25px;
}
.content-3 .card-6:hover img{
    transform: scale(0.9);
}

/* IMAGE-6 TITLE-HOVER */
.content-3 .card-6 .img-title{
    position: relative;
    bottom: 50px;
    left: 25px;
}
.content-3 .card-6:hover h2{
    bottom: 70px;
}

/* IMAGE-7 */
.content-3 .card-7{
    overflow: hidden;
    border-radius: 25px;
}
.content-3 .card-7:hover img{
    transform: scale(0.9);
}

/* IMAGE-7 TITLE-HOVER */
.content-3 .card-7 .img-title{
    position: relative;
    bottom: 50px;
    left: 25px;
}
.content-3 .card-7:hover h2{
    bottom: 70px;
}

/* IMAGE-8 */
.content-3 .card-8{
    overflow: hidden;
    border-radius: 25px;
}
.content-3 .card-8:hover img{
    transform: scale(0.9);
}

/* IMAGE-8 TITLE-HOVER */
.content-3 .card-8 .img-title{
    position: relative;
    bottom: 50px;
    left: 25px;
}
.content-3 .card-8:hover h2{
    bottom: 70px;
}

/* IMAGE-9 */
.content-3 .card-9{
    overflow: hidden;
    border-radius: 25px;
}
.content-3 .card-9:hover img{
    transform: scale(0.9);
}

/* IMAGE-9 TITLE-HOVER */
.content-3 .card-9 .img-title{
    position: relative;
    bottom: 50px;
    left: 25px;
}
.content-3 .card-9:hover h2{
    bottom: 70px;
}

/* IMAGE-10 */
.content-3 .card-10{
    overflow: hidden;
    border-radius: 25px;
}
.content-3 .card-10:hover img{
    transform: scale(0.9);
}

/* IMAGE-10 TITLE-HOVER */
.content-3 .card-10 .img-title{
    position: relative;
    bottom: 50px;
    left: 25px;
}
.content-3 .card-10:hover h2{
    bottom: 70px;
}

/* IMAGE-11 */
.content-3 .card-11{
    overflow: hidden;
    border-radius: 25px;
}
.content-3 .card-11:hover img{
    transform: scale(0.9);
}

/* IMAGE-11 TITLE-HOVER */
.content-3 .card-11 .img-title{
    position: relative;
    bottom: 50px;
    left: 25px;
}
.content-3 .card-11:hover h2{
    bottom: 70px;
}

/* FOOTER */

.footer-0{
    background-color: #18181c;
    color: white;
}

.footer-0 a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: 600;
}


@media screen and (min-device-width: 400px) and (max-device-width: 900px) { 
    /* Hero-Content */
    .mymain video{
        border-radius: 25px;
        height: 225px;
        width: 250px;
        object-fit: fill;
    }

    /* content-1 */
    .content-1 img{
        height: 180px;
        width: 150px;
    }

    /* content-2 */
    .content-2 .C2-img img{
        border-radius: 25px;
        height: 225px;
        width: 250px;
    }
}