body{
    background-color: #101014;
}

            
/* Navbar */
#NavBar101{
    position: fixed;
    top: 0px;
    width: 100%;
}

.nav{
    padding-top: 10px;
    padding-bottom: 5px;
}

#Epic-Logo{
    margin-right: 25px;
    margin-left: 25px;
}

.navbar-logo img{
    border-radius: 50%;
    margin-right: 5px;
}

.navbar-brand{
    font-weight: bolder;
    margin-right: 20px;
}

.navbar-collapse{
    font-style: arial sans-serif;
    font-size: 16px;
    font-family: 400;
}

.navbar-collapse button{
    font-style: arial sans-serif;
    font-size: 16px;
    font-weight: 400;
}

/* NavBar-List */
.nav #Epic-Logo #Epic-list{
    border-radius: 15px;
    padding: 35px 40px 40px 40px;
}

.nav #Overview #Overview-list{
    border-radius: 15px;
    padding: 10px;
}

.nav #Uses #Uses-list{
    border-radius: 15px;
    padding: 10px;
}

.nav #More #More-list{
    border-radius: 15px;
    padding: 10px;
}

/* NavBar-List Logo */
.nav #Epic-Logo:hover #Epic-list{
    display: block;
}

/* NavBar-List Overview */
.nav #Overview:hover #Overview-list{
    display: block;
}

/* NavBar-List Uses */
.nav #Uses:hover #Uses-list{
    display: block;
}

/* NavBar-List More */
.nav #More:hover #More-list{
    display: block;
}

/* Search */

.nav #search1 svg{
    color: white;
}

/* Globle */

.nav #globle1 svg{
    color: white;
}

.nav #globle2{
    position: relative;
}
  
.nav #globle1 .globle-icon{
    display: block;
}
  
.nav #globle1 #dropdown-list{
    display: none;
    position: absolute;
}
  
.nav #globle-icon:hover #globle-list{
    display: block;
}

/* Hero-Content */

.mymain video{
    border-radius: 25px;
    max-width: 100%;
}

.hero-txt{
    color: white;
}

.hero-txt h2{
    font-size: 50px;
    font-weight: 900;
    font-style: sans-serif;
}

.hero-txt p{
    font-size: 20px;
    font-style: sans-serif;
}

.hero-txt img{
    border-radius: 50%;
    margin-right: 5px;
}

.hero-txt h3{
    font-size: 28px;
    margin-bottom: 30px;
}

.hero-txt .h2-last{
    margin-bottom: 20px;
}

.hero-txt p{
    margin-bottom: 30px;
}


/* content-1 */

.content-1{
    color: white;
}

.content-1 h2{
    font-weight: bolder;
}
.content-1 h3{
    color: white;
}


/* content-2 */

.content-2 .C2-info{
    color: white;
}

.content-2 .C2-img img{
    border-radius: 25px;
    max-width: 100%;
}

/* content-3 */

.content-3{
    color: white;
}

/* IMAGE-CONTENT */

.content-3 img{
    border-radius: 25px;
    object-fit: fill;
    transition: transform 0.5s ease;
}

/* IMAGE */
.content-3 .card-1{
    overflow: hidden;
    border-radius: 25px;
}
.content-3 .card-1:hover img{
    transform: scale(0.9);
}

/* IMAGE TITLE-HOVER */
.content-3 .card-1 .img-title{
    position: relative;
    bottom: 50px;
    left: 25px;
}
.content-3 .card-1:hover h2{
    bottom: 70px;
}




/* FOOTER */

.footer-0{
    background-color: #18181c;
    color: white;
}

.footer-0 a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: 600;
}

.footer-0 .media a{
    margin-left: 10px;
}

@media screen and (min-device-width: 400px) and (max-device-width: 900px) { 
    /* content-1 */
    .content-1 img{
        height: 180px;
        width: 150px;
    }

}







